mixin content-variety()
	+b.content._right
		+e.image._big._big-v2
			+e('img')(src='%=staticPrefix=%img/assets/content-variety/content_variety_1.jpg' alt='')

		+b('p').text Стильный компромисс от Benone между строгостью, лаконичностью римских штор и праздничностью драпировки французских — австрийские шторы. Главная особенность этого типа штор — округлость форм нижнего края полотна, которая появляется при подъеме ткани. Австрийские шторы называют иногда фестонными, потому как ткань собирается снизу в пышные воланы, придающие окну легкость, ажурность и торжественность. При этом нет избыточности в складках, которыми изобилует французский вариант штор.

		+b('h2').subtitle Австрийские шторы — ваш вариант оформления окна, если:

		+b('ul').list
			+e('li').item Вам нравится вид ровных полотен длиной в оконный проем, но римские шторы для вас слишком сдержанны, а французские чересчур помпезны;
			+e('li').item Вы любите оригинальность, что отражает интерьер вашего дома;
			+e('li').item Вы предпочитаете все держать под контролем, даже если речь идет о солнечном свете.

		+b('p').text Так как австрийские шторы позволяют контролировать дневное освещение, они популярны в помещениях, где это необходимо — спальня, детская для малыша, кухня или столовая. Универсальность этого типа штор помогает создать в комнате атмосферу уюта и камерности либо впустить ослепительный солнечный свет в пространство.


		+b.custom._v2
			+e.top
				+e.image._small
					+e('img')(src='%=staticPrefix=%img/assets/content-variety/content_variety_2.jpg' alt='')
				+e('h2').title ШТОРЫ НА ЗАКАЗ — ИНДИВИДУАЛЬНЫЙ ПОДХОД
				+b('p').text._short Дом текстиля Benone предлагает самый большой выбор штор под заказ.
				+b('p').text В наших фото каталогах представлены лучшие ткани из Европы, центральное место занимает итальянский текстиль. Ткани поставляются с фабрик производителя, дизайнеры отбирают новинки, чтобы предложить их клиентам по минимальной цене.
				+b('a').button._more(href='#') Подробнее


			+b.carousel-second.carousel-third.carousel-third_js
				+e.item
					+e('a').link(href='#' title='some title')
						+e.item-img
							+e('img')(src='%=staticPrefix=%img/assets/content-variety/content_variety_3.jpg' alt='')
						+e.title «Окно в модерн»
				+e.item
					+e('a').link(href='#' title='some title')
						+e.item-img
							+e('img')(src='%=staticPrefix=%img/assets/content-variety/content_variety_4.jpg' alt='')
						+e.title «В духе ампира»
				+e.item
					+e('a').link(href='#' title='some title')
						+e.item-img
							+e('img')(src='%=staticPrefix=%img/assets/content-variety/content_variety_5.jpg' alt='')
						+e.title «Сочный Лофт»
				+e.item
					+e('a').link(href='#' title='some title')
						+e.item-img
							+e('img')(src='%=staticPrefix=%img/assets/content-variety/content_variety_7.jpg' alt='')
						+e.title «Классицизм»

		+b.services
			+e('h1').title Услуги и цены на пошив штор

			+e.items
				+e.item
					+e('a').link(href='#')
						+e.item-title Standart
						+e.item-w
							+e.item-image
								+e('img')(src='%=staticPrefix=%img/assets/content-variety/content_variety_8.jpg' alt='')
							+e.item-desc Простые шторы, но, безусловно, уникальный дизайн от наших мастеров, создадут в доме ощущение гармонии и уюта.
							+e.price Цена:
								+e.price-val От 15 000 руб.
							+e.time Срок изготовления:
								+e.time-val от 10 дней
				+e.item
					+e('a').link(href='#')
						+e.item-title Premium
						+e.item-w
							+e.item-image
								+e('img')(src='%=staticPrefix=%img/assets/content-variety/content_variety_8.jpg' alt='')
							+e.item-desc Разнообразие дизайнерских решений, которые не только украсят и выделят вашу квартиру, но и станут предметом гордости.
							+e.price Цена:
								+e.price-val От 30 000 руб.
							+e.time Срок изготовления:
								+e.time-val от 7 дней
				+e.item
					+e('a').link(href='#')
						+e.item-title Luxury
						+e.item-w
							+e.item-image
								+e('img')(src='%=staticPrefix=%img/assets/content-variety/content_variety_8.jpg' alt='')
							+e.item-desc Уникальные ткани из Италии, Франции и Лондона, под стать вашему интерьеру — это истинная ценность неповторимого дизайна.

							+e.price Цена:
								+e.price-val От 40 000 руб.
							+e.time Срок изготовления:
								+e.time-val от 10 дней
		+b.designer-card._wide
			+e.image
				+e('img')(src='%=staticPrefix=%img/assets/content-variety/content_variety_11.jpg' alt='photo')
			+e.title Марфа Васильева - дизайнер штор
			+e.text Благодаря образованию дизайнер-технолог Ольга прекрасно ориентируется в технологии текстильного оформления интерьеров. Все 600 индивидуальных дизайн-проектов Ольги, реализованных в компании, построены вокруг фактуры тканей и сочетании разных материалов друг с другом.
			+e.phone-w
				+e.phone-text Контактный телефон в
					+e('a')(href='#' title='#') Нижнем Новгороде:
				+e.phone-number +8 (495) 123-45-67


		+b.curtains
			+e.image
				+e('img')(src='%=staticPrefix=%img/assets/content-variety/content_variety_12.jpg' alt='curtains')

			+e('h2').title Австрийские шторы
			+e.text Над каждом этапом проекта оформления вашего дома трудится команда настоящих профессионалов. Вы можете не волноваться за соблюдение всех пропорций и особенностей дизайна — мы используем технологии эксклюзивного пошива от итальянских мастеров.


