
@font-face {
	font-family: 'pf_dindisplay_problack';
	src: url('../fonts/pfdin/pfdindisplaypro-black-webfont.eot');
	src: url('../fonts/pfdin/pfdindisplaypro-black-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfdin/pfdindisplaypro-black-webfont.woff2') format('woff2'),
		 url('../fonts/pfdin/pfdindisplaypro-black-webfont.woff') format('woff'),
		 url('../fonts/pfdin/pfdindisplaypro-black-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'pf_dindisplay_probold';
	src: url('../fonts/pfdin/pfdindisplaypro-bold-webfont.eot');
	src: url('../fonts/pfdin/pfdindisplaypro-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfdin/pfdindisplaypro-bold-webfont.woff2') format('woff2'),
		 url('../fonts/pfdin/pfdindisplaypro-bold-webfont.woff') format('woff'),
		 url('../fonts/pfdin/pfdindisplaypro-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'pf_dindisplay_proitalic';
	src: url('../fonts/pfdin/pfdindisplaypro-italic-webfont.eot');
	src: url('../fonts/pfdin/pfdindisplaypro-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfdin/pfdindisplaypro-italic-webfont.woff2') format('woff2'),
		 url('../fonts/pfdin/pfdindisplaypro-italic-webfont.woff') format('woff'),
		 url('../fonts/pfdin/pfdindisplaypro-italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'pf_dindisplay_promedium';
	src: url('../fonts/pfdin/pfdindisplaypro-med-webfont.eot');
	src: url('../fonts/pfdin/pfdindisplaypro-med-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfdin/pfdindisplaypro-med-webfont.woff2') format('woff2'),
		 url('../fonts/pfdin/pfdindisplaypro-med-webfont.woff') format('woff'),
		 url('../fonts/pfdin/pfdindisplaypro-med-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'pf_dindisplay_proregular';
	src: url('../fonts/pfdin/pfdindisplaypro-reg-webfont.eot');
	src: url('../fonts/pfdin/pfdindisplaypro-reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfdin/pfdindisplaypro-reg-webfont.woff2') format('woff2'),
		 url('../fonts/pfdin/pfdindisplaypro-reg-webfont.woff') format('woff'),
		 url('../fonts/pfdin/pfdindisplaypro-reg-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'latoregular';
	src: url('../fonts/lato/latoregular-webfont.eot');
	src: url('../fonts/lato/latoregular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/latoregular-webfont.woff2') format('woff2'),
		 url('../fonts/lato/latoregular-webfont.woff') format('woff'),
		 url('../fonts/lato/latoregular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}
