// GUI stylies of the project
// For example, styles of the links, buttons and so on.


h2
	color #4d4d4d

.subtitle
	margin-bottom 22px
	font-pfbld(18px,24px)
	color #424242
.text
	font-pfreg(16px,24px)
	color #4d4d4d
.text
	&_short
		font-pfit(16px,18px)
		color #979797


.gutter
	margin-right 30px


.list
	margin-bottom 25px
	padding-left 16px
	&__item
		margin-bottom 16px
		list-style-type disc
		list-style-position outside
		font-pfreg(16px,21px)



.button
	padding 11px 51px 9px 51px
	display inline-block
	size 180px 35px
	background-color #f25d73
	font-pfbld(16px,1)
	color #fafafa
	text-align center
	border-radius 30px
	text-decoration none


