mixin advantages()
	+b.advantages
		+e('h2').title наши преимущества
		+e('p').text Узнайте чем мы отличаемся от остальных ателье!
		+e('ul').list
			+e('li').item
				+e('h3').item-title Собственное ателье
				+e('p').item-text Имея собственное производство - мы гарантируем качество исполнения заказа в уставленные сроки
				+e.item-icon._1
			+e('li').item
				+e('h3').item-title Наличие тканей
				+e('p').item-text 6000 дизайнов тканей в постоянном наличии, разнообразие качественного материала
				+e.item-icon._2
			+e('li').item
				+e('h3').item-title Частный дизайнер
				+e('p').item-text Частный дизайнер (без наценок фирмы и переплат), создаст индивидуальный дизайн штор
				+e.item-icon._3
			+e('li').item
				+e('h3').item-title Свои карнизы
				+e('p').item-text Собственное производство карнизов для наших любимых клиентов
				+e.item-icon._4


