mixin sidebar(data)
	+b.sidebar._left.gullter
		+b('ul').menu
			+e('li').item
				+e('a').link(href='#' title='Большая категория меню') Большая категория меню

				+b('ul').submenu
					+e('li').item
						+e('a').link(href='#' title='Подраздел каталога') Подраздел каталога
					+e('li').item
						+e('a').link(href='#' title='Очень большой подраздел ') Очень большой подраздел
					+e('li').item
						+e('a').link(href='#' title='Подраздел каталог') Подраздел каталога
					+e('li').item
						+e('a').link(href='#' title='Очень большой подраздел ') Очень большой подраздел
					+e('li').item
						+e('a').link(href='#' title='Подраздел каталога') Подраздел каталога
					+e('li').item
						+e('a').link(href='#' title='Очень большой подраздел ') Очень большой подраздел

			+e('li').item
				+e('a').link(href='#' title='Большая категория меню') Большая категория меню

				+b('ul').submenu
					+e('li').item
						+e('a').link(href='#' title='Подраздел каталога') Подраздел каталога
					+e('li').item
						+e('a').link(href='#' title='Очень большой подраздел ') Очень большой подраздел
					+e('li').item
						+e('a').link(href='#' title='Подраздел каталог') Подраздел каталога
					+e('li').item
						+e('a').link(href='#' title='Очень большой подраздел ') Очень большой подраздел
					+e('li').item
						+e('a').link(href='#' title='Подраздел каталога') Подраздел каталога
					+e('li').item
						+e('a').link(href='#' title='Очень большой подраздел ') Очень большой подраздел

			+e('li').item
				+e('a').link(href='#' title='Большая категория меню') Большая категория меню

				+b('ul').submenu
					+e('li').item
						+e('a').link(href='#' title='Подраздел каталога') Подраздел каталога
					+e('li').item
						+e('a').link(href='#' title='Очень большой подраздел ') Очень большой подраздел
					+e('li').item
						+e('a').link(href='#' title='Подраздел каталог') Подраздел каталога
					+e('li').item
						+e('a').link(href='#' title='Очень большой подраздел ') Очень большой подраздел
					+e('li').item
						+e('a').link(href='#' title='Подраздел каталога') Подраздел каталога
					+e('li').item
						+e('a').link(href='#' title='Очень большой подраздел ') Очень большой подраздел



