mixin about()
	+b('section').about
		+e.in
			+e.image
				+e('img')(src='static/img/general/about_img.jpg' alt='image title')
			+e('h2').title Шторы на заказ от Дома текстиля в Москве
			+b('p').text._short Магазин шторы — это 7 лет успешной работы, лучшие дизайнеры и более 10 000 тканей из Европы по эксклюзивным ценам.
			+b('p').text Профессионалы домашнего текстиля Benone-Russia приглашают вас в Дом текстиля в Москве! Мы предлагаем самый широкий выбор штор и гардин, которые изготовлены из качественных европейских тканей и представлены в собственном портфолио нашего интернет магазина.
			+e('a').more(href='#more') Подробнее

