mixin custom()
	+b('section').custom
		+e.in
			+e.top
				+e.image
					+e('img')(src='static/img/content/custom_big_img.jpg' alt='custom big image')
				+e('h2').title ШТОРЫ НА ЗАКАЗ — ИНДИВИДУАЛЬНЫЙ ПОДХОД
				+b('p').text._short Дом текстиля Benone предлагает самый большой выбор штор под заказ, реализацию идей любой степени сложности — недорогие готовые шторы до премиум класса на заказ
				+b('p').text В наших фото каталогах представлены лучшие ткани из Европы, центральное место занимает итальянский текстиль. Ткани поставляются с фабрик производителя, дизайнеры отбирают новинки, чтобы предложить их клиентам по минимальной цене. Благодаря такой возможности интернет-магазин штор Benone-Russia недорого оформит ваш дом текстилем высокого качества.

			+b.carousel-second._js
				+e.item
					+e('a').link(href='#' title='some title')
						+e.item-img
							+e('img')(src='static/img/content/custom_img_1.jpg' alt='custom_img_1')
						+e.title «Окно в модерн»
				+e.item
					+e('a').link(href='#' title='some title')
						+e.item-img
							+e('img')(src='static/img/content/custom_img_2.jpg' alt='custom_img_1')
						+e.title «В духе ампира»
				+e.item
					+e('a').link(href='#' title='some title')
						+e.item-img
							+e('img')(src='static/img/content/custom_img_3.jpg' alt='custom_img_1')
						+e.title «Сочный Лофт»
				+e.item
					+e('a').link(href='#' title='some title')
						+e.item-img
							+e('img')(src='static/img/content/custom_img_4.jpg' alt='custom_img_1')
						+e.title «Классицизм»
				+e.item
					+e('a').link(href='#' title='some title')
						+e.item-img
							+e('img')(src='static/img/content/custom_img_5.jpg' alt='custom_img_1')
						+e.title «Цветочный мир»


				//- +e.nav
				//- 	+e('a').nav-link.next(href='#') Вперед
				//- 	+e('a').nav-link.prev(href='#') Назад

