.pagination
	margin-top 28px
	margin-bottom 40px
	clearfix()
	&__item
		margin-right 7px
		float left
		&_current,
		&:hover
			background-color #f05f75
			border-radius 1px
			.pagination__link
				font-pfbld(16px,1)
				color $white
	&__link
		padding 3px 6px
		min-width 22px
		display block
		font-pfreg(16px,1)
		color #4d4d4d
		text-decoration none


