mixin pagination(data)
	+b('ol').pagination
		+e('li').item
			+e('a').link(href='#') 1
		+e('li').item._current
			+e('a').link(href='#') 2
		+e('li').item
			+e('a').link(href='#') 3
		+e('li').item
			+e('a').link(href='#') 4
		+e('li').item
			+e('a').link(href='#') 5
		+e('li').item
			+e('a').link(href='#') 6
		+e('li').item
			+e('a').link(href='#') 7
		+e('li').item
			+e('a').link(href='#') 8
		+e('li').item
			+e('a').link(href='#') 9
