mixin content-shtory(data)
	+b.content._left.gutter
		+e.image._big
			+e('img')(src='%=staticPrefix=%img/assets/content-shtory/big_img.jpg' alt='image')

		+b.share
			+e('img')(src='%=staticPrefix=%img/assets/content-shtory/share.png')

		+b('p').text Используете ли вы тюль-шторы как самостоятельное оформление окна или в дополнение к гардинам, во всех случаях они привносят легкость, воздушность и нежность в интерьер вашей квартиры. Из тюля невесомо и элегантно смотрятся не только шторы, но и балдахин над кроватью маленькой принцессы или супружеской пары в загородном доме. Шторы-тюль от Benone многогранны, неожиданно стройно и уместно они вписываются в интерьеры офисов, кафе и салонов красоты. Утонченный тюль найдет свое место в любом стиле оформления помещений, прекрасно уживаясь с самыми разнообразными аксессуарами, обстановкой и декором.

		+b('p').text Тюль-шторы не требовательны к окружению, они ни к чему не обязывают и легко подстраиваются под любую обстановку. Маленькое помещение или большой зал — их использование не зависит от площади и планировки комнат. Именно поэтому вы можете повесить тюль-шторы в небольшую детскую, требующую уюта кухню, на окно в спальне в сочетании с балдахином. И везде шторы-тюль будут смотреться нежно и трогательно.

		+b('p').text Используете ли вы тюль-шторы как самостоятельное оформление окна или в дополнение к гардинам, во всех случаях они привносят легкость, воздушность и нежность в интерьер вашей квартиры. Из тюля невесомо и элегантно смотрятся не только шторы, но и балдахин над кроватью маленькой принцессы или супружеской пары в загородном доме. Шторы-тюль от Benone многогранны, неожиданно стройно и уместно они вписываются в интерьеры офисов, кафе и салонов красоты. Утонченный тюль найдет свое место в любом стиле оформления помещений, прекрасно уживаясь с самыми разнообразными аксессуарами, обстановкой и декором.

		+b('p').text Тюль-шторы не требовательны к окружению, они ни к чему не обязывают и легко подстраиваются под любую обстановку. Маленькое помещение или большой зал — их использование не зависит от площади и планировки комнат. Именно поэтому вы можете повесить тюль-шторы в небольшую детскую, требующую уюта кухню, на окно в спальне в сочетании с балдахином. И везде шторы-тюль будут смотреться нежно и трогательно.

		+b('p').text Используете ли вы тюль-шторы как самостоятельное оформление окна или в дополнение к гардинам, во всех случаях они привносят легкость, воздушность и нежность в интерьер вашей квартиры. Из тюля невесомо и элегантно смотрятся не только шторы, но и балдахин над кроватью маленькой принцессы или супружеской пары в загородном доме. Шторы-тюль от Benone многогранны, неожиданно стройно и уместно они вписываются в интерьеры офисов, кафе и салонов красоты. Утонченный тюль найдет свое место в любом стиле оформления помещений, прекрасно уживаясь с самыми разнообразными аксессуарами, обстановкой и декором.

