mixin content(data)
		+b.content._right
			+b('p').text Используете ли вы тюль-шторы как самостоятельное оформление окна или в дополнение к гардинам, во всех случаях они привносят легкость, воздушность и нежность в интерьер вашей квартиры. Из тюля невесомо и элегантно смотрятся не только шторы, но и балдахин над кроватью маленькой принцессы или супружеской пары в загородном доме. Шторы-тюль от Benone многогранны, неожиданно стройно и уместно они вписываются в интерьеры офисов, кафе и салонов красоты. Утонченный тюль найдет свое место в любом стиле оформления помещений, прекрасно уживаясь с самыми разнообразными аксессуарами, обстановкой и декором.
			+b.category-items
				+e.item
					+e('a').link(href='#')
						+e.title Французские шторы
						+e.image
							+e('img')(src='%=staticPrefix=%img/assets/content/content_item_1.jpg' alt='category')
						+e.desc Отличный выбор для классического или барочного интерьера, изящные и пышные. На них всегда найдется место и для отделки маленькими кисточками или бахромой.
				+e.item
					+e('a').link(href='#')
						+e.title Итальянские шторы
						+e.image
							+e('img')(src='%=staticPrefix=%img/assets/content/content_item_2.jpg' alt='category')
						+e.desc Роскошь барокко и рококо, управляемый свет и красота даже когда окна закрыты. Для любого интерьера и высоких окон, для светлых изящных дизайнов.
				+e.item
					+e('a').link(href='#')
						+e.title Портьерные шторы
						+e.image
							+e('img')(src='%=staticPrefix=%img/assets/content/content_item_3.jpg' alt='category')
						+e.desc Это надежная защита от солнца, нескромных взглядов и даже — за счет выбора действительно плотных портьер с подкладом — шума. Это настоящая классика для любого интерьера.
				+e.item
					+e('a').link(href='#')
						+e.title Льняные шторы
						+e.image
							+e('img')(src='%=staticPrefix=%img/assets/content/content_item_4.jpg' alt='category')
						+e.desc Мягкая теплая ткань с ярко выраженной рельефной фактурой отлично будет смотреться на окнах в загородном доме или в квартире в стиле кантри.
				+e.item
					+e('a').link(href='#')
						+e.title Дизайнерские шторы
						+e.image
							+e('img')(src='%=staticPrefix=%img/assets/content/content_item_5.jpg' alt='category')
						+e.desc Портьеры и покрывала из органзы в смелом сочетании неординарных приемов для спальни, кухни, гостиной, кабинета - Вы рискуете и побеждаете.
				+e.item
					+e('a').link(href='#')
						+e.title Эксклюзивные шторы
						+e.image
							+e('img')(src='%=staticPrefix=%img/assets/content/content_item_6.jpg' alt='category')
						+e.desc Готовые комплекты по индивидуальному эскизу, эксклюзивные ткани и изысканная фурнитура творит интерьер в который хочется окунуться.
				+e.item
					+e('a').link(href='#')
						+e.title Шторы плиссе
						+e.image
							+e('img')(src='%=staticPrefix=%img/assets/content/content_item_7.jpg' alt='category')
						+e.desc Новый тренд в мире элегантности. Управляемость и легкость позволят вам эффективно регулировать уровень освещения в комнате.
				+e.item
					+e('a').link(href='#')
						+e.title Французские шторы
						+e.image
							+e('img')(src='%=staticPrefix=%img/assets/content/content_item_8.jpg' alt='category')
						+e.desc Отличный выбор для классического или барочного интерьера, изящные и пышные. На них всегда найдется место и для отделки маленькими кисточками или бахромой.
				+e.item
					+e('a').link(href='#')
						+e.title Шторы с лабрекеном
						+e.image
							+e('img')(src='%=staticPrefix=%img/assets/content/content_item_9.jpg' alt='category')
						+e.desc Декор дополненный мягким, жестким или комбинированным ламбрекеном — универсальное украшение для любого интерьера.
				+e.item
					+e('a').link(href='#')
						+e.title Шторы жаккард
						+e.image
							+e('img')(src='%=staticPrefix=%img/assets/content/content_item_10.jpg' alt='category')
						+e.desc Мягкая теплая ткань с ярко выраженной рельефной фактурой отлично будет смотреться на окнах в загородном доме или в квартире в стиле кантри.
				+e.item
					+e('a').link(href='#')
						+e.title Римские шторы
						+e.image
							+e('img')(src='%=staticPrefix=%img/assets/content/content_item_11.jpg' alt='category')
						+e.desc Предшественница рулонных и жалюзи, римская занимает мало места, прекрасно защищает от солнца и легко управляется.
				+e.item
					+e('a').link(href='#')
						+e.title Шторы с лабрекеном
						+e.image
							+e('img')(src='%=staticPrefix=%img/assets/content/content_item_12.jpg' alt='category')
						+e.desc Декор дополненный мягким, жестким или комбинированным ламбрекеном — универсальное украшение для любого интерьера.

			+b.text Используете ли вы тюль-шторы как самостоятельное оформление окна или в дополнение к гардинам, во всех случаях они привносят легкость, воздушность и нежность в интерьер вашей квартиры. Из тюля невесомо и элегантно смотрятся не только шторы, но и балдахин над кроватью маленькой принцессы или супружеской пары в загородном доме. Шторы-тюль от Benone многогранны, неожиданно стройно и уместно они вписываются в интерьеры офисов, кафе и салонов красоты. Утонченный тюль найдет свое место в любом стиле оформления помещений, прекрасно уживаясь с самыми разнообразными аксессуарами, обстановкой и декором.

			+b.text Тюль-шторы не требовательны к окружению, они ни к чему не обязывают и легко подстраиваются под любую обстановку. Маленькое помещение или большой зал — их использование не зависит от площади и планировки комнат. Именно поэтому вы можете повесить тюль-шторы в небольшую детскую, требующую уюта кухню, на окно в спальне в сочетании с балдахином. И везде шторы-тюль будут смотреться нежно и трогательно.


