.content
	float left
	width 847px
	.text
		margin-bottom 15px
	&_right
		float right
	&_left
		float left

	&__image
		margin-bottom 30px
		&_big
			padding 10px
			width 848px
			background-color white
			box-shadow 0 0 10px #e5e5e5
			img
				max-width 100%
				height auto
		&_big-v2
			margin-bottom 26px
			padding 13px

.share
	margin-bottom 60px


.services
	margin-bottom 54px
	text-align center
	&__title
		margin-bottom 40px
		font-pfbld(24px,1)
		color #424242
		text-transform uppercase
	&__items
		clearfix()
	&__item
		margin-left 28px
		padding 0 10px
		display inline-block
		vertical-align top
		width 260px
		min-height 401px
		&:first-child
			margin-left 0
	&__link
		display block
		color #424242
		text-decoration none
	&__item-title
		margin-bottom 5px
		display block
		font-pfmed(24px,1)
		text-transform uppercase
	&__item-w
		padding 5px 5px 26px
		display block
		background-color white
		box-shadow 0 0 10px #e5e5e5
	&__item-image
		margin-bottom 21px
		display block
		size(232px,150px)
	&__item-desc
		display block
		min-height 88px
		font-pfreg(14px,18px)
		border-bottom 1px solid #f4f4f4
	&__price
		padding-top 12px
		display block
		font-pfit(14px,18px)
		color #979797
	&__price-val
		margin-bottom 13px
		paddin-top 5px
		display block
		font-pfbld(24px,1)
		color #424242
	&__time
		display block
		font-pfit(14px,18px)
		color #979797
	&__time-val
		padding-top 4px
		display block
		font-pfreg(18px,1)
		color #424242



.curtains
	&__image
		margin-right 30px
		padding 15px
		float left
		size(360px,217px)
		background-color white
		box-shadow 0 0 10px #e5e5e5
		img
			max-width 100%
			height auto
	&__title
		margin-bottom 28px
		padding-top 22px
		font-pfbld(24px,1)
	&__text
		font-pfreg(16px,24px)
		color #575656





