.clients
	&__in
		padding-top 56px
		padding-bottom 70px
	&__title
		margin-bottom 53px
		font-pfbld(30px,32px)
		text-align center
	&__list
		clearfix()
		font-size 0
		text-align center
	&__client
		margin-left 47px
		display inline-block
		vertical-align middle
		&:first-child
			margin-left 0
		&_1
			margin-right 16px
			float left
			bg($client1)
		&_2
			margin-top -6px
			bg($client2)
		&_3
			margin-top -6px
			margin-left 52px
			bg($client3)
		&_4
			margin-top -18px
			margin-left 56px
			bg($client4)
		&_5
			margin-top -24px
			margin-left 40px
			bg($client5)
		&_6
			margin-left 0
			float right
			bg($client6)

