mixin clients()
	+b('section').clients
		+e.in
			+e('h2').title Наши дизайнеры оформили более 10 000 интерьеров в России!
			+e('ul').list
				+e('li').client._1 RICCHETTI COLLEZIONI CERAMICHE
				+e('li').client._2 LINE ART
				+e('li').client._3 BOCONCEPT URBAN DESIGN
				+e('li').client._4 GRAHAM & BROWN
				+e('li').client._5 FLAMINIA
				+e('li').client._6 JADO

