.description
	background url('../img/general/about_bg.jpg') 50% 0 no-repeat
	background-size cover
	&__in
		padding-top 118px
		padding-bottom 140px
		overflow hidden

.article
	&_half
		margin-right 30px
		width 555px
		float left
		&:last-child
			margin-right 0
	&__title
		margin-bottom 14px
		font-pfbld(20px,24px)
		text-transform uppercase
		color #4d4d4d
	&__text
		font-pfreg(16px,24px)
		color #575656



