mixin description()
	+b.description
		+e.in
			+b('article').article._half
				+e('h3').title АТЕЛЬЕ ШТОР
				+e('p').text В наших фото каталогах представлены лучшие ткани из Европы, центральное место занимает итальянский текстиль. Ткани поставляются с фабрик производителя, дизайнеры отбирают новинки, чтобы предложить их клиентам по минимальной цене. Благодаря такой возможности интернет-магазин штор Benone-Russia недорого оформит ваш дом текстилем высокого качества.

			+b('article').article._half
				+e('h3').title Наши услуги
				+e('p').text Компания Benone-Russia предлагает удобный сервис, включающий в себя выезд дизайнера на дом, составление уникального дизайн-проекта, изготовление текстильных элементов в ателье штор. Продажа штор сопровождается доставкой, монтажом карнизов, навеской гардин и ламбрекенов.


