.footer
	border-top 1px solid #cfcbcb
	padding-top 50px
	padding-bottom 36px
	background #f4f4f4
	&__row
		margin-bottom 60px
		clearfix()


.phone-bottom
	margin-right 127px
	float left
	color #3e3a3c
	&__title
		margin-bottom 9px
		font-pfbld(18px,1)
		color #3e3a3c
	&__text
		margin-bottom 6px
		font-pfreg(14px,1)
	&__number
		margin-left 4px
		display inline-block
		font-pfbld(14px,1)
		color #805175
	&__link
		display block
		font-pfreg(14px,1)
		a
			padding-left 4px
			color #805175
			text-decoration underline
			&:hover
				text-decoration none


.email-bottom
	margin-right 134px
	float left
	color #3e3a3c
	&__title
		margin-bottom 5px
		font-pfbld(18px,1)
		color #3e3a3c
	&__link
		font-pfreg(14px,22px)
		a
			display block
			color #f25d73
			text-decoration underline
			&:hover
				text-decoration none


.address-bottom
	margin-right 138px
	float left
	color #3e3a3c
	&__title
		margin-bottom 4px
		font-pfbld(18px,1)
		color #3e3a3c
	&__text
		font-pfreg(14px,25px)

.social-bottom
	float left
	color #3e3a3c
	&__title
		margin-bottom 11px
		font-pfbld(18px,1)
		color #3e3a3c
	&__list
		clearfix()
	&__item
		margin-right 10px
		float left
		text-indent -9999px
		&:last-child
			margin-right 0
		&_1
			bg($instagram)
		&_2
			bg($vk)
		&_3
			bg($social3)


.footer
	&__copyright
		font-pfreg(14px,30px)
		color #3e3a3c
