.breadcrumbs
	margin-top 3px
	margin-bottom 30px
	clearfix()
	&__item
		float left
		font-pfreg(14px,18px)
		&:first-child
			.breadcrumbs__link
				padding-left 0
	&__link
		padding-right 5px
		padding-left 5px
		color #805175
		text-decoration underline
		&:hover
			text-decoration none
	&__current
		padding-left 3px
		color #424242
