.order
	margin-right 30px
	width 624px
	float left
	color #3d3d3d
	&__title
		margin-bottom 12px
		font-pfbld(24px,1)
		color #3e3a3c
		text-transform uppercase
	&__text
		margin-bottom 40px
		font-pfreg(18px,1)
	&__input
		margin-bottom 30px
		input
			padding 14px 20px 7px
			width 608px
			background-color white
			font-pfreg(16px,1)
			color #afafaf
			border 2px solid #ebebeb
			border-radius 21px
		&_half
			display inline-block
			input
				width 266px
		&_half-2
			input
				width 276px
	&__textarea
		margin-bottom 26px
		textarea
			padding 19px 17px
			width 608px
			min-height 122px
			background-color white
			font-pfreg(16px,18px)
			color #afafaf
			border-radius 15px 14px 14px 15px
			border 2px solid #ebebeb
	&__sep
		padding-left 15px
		padding-right 15px
		display inline-block
		font-pfreg(18px,45px)
	&__submit
		button
			border none
			padding 16px 65px 13px
			display inline-block
			min-height 44px
			background-color #f25d73
			font-pfbld(16px,1)
			color $white
			text-transform uppercase
			border-radius 30px
