
.header
	&__in
		padding-top 20px
		padding-bottom 20px

.logo
	float left
	margin-right 9.924561%
	text-indent -9999px
	bg($logo)
.address
	margin-top 7px
	margin-right 5.940351%
	display inline-block
	vertical-align top
	font-pfreg(14px,20px)
.social
	margin-top 7px
	margin-right 5.929825%
	display inline-block
	vertical-align top
	font-pfreg(14px,20px)
	&__title
		margin-bottom 1px
	&__list
		clearfix()
	&__item
		margin-right 11px
		float left
		text-indent -9999px
		&_1
			bg($instagram)
		&_2
			bg($vk)
		&_3
			bg($social3)
.mail
	margin-top 7px
	display inline-block
	vertical-align top
	font-pfreg(14px,20px)
	&__title
		margin-bottom 1px
	&__link
		color #f25d73
		text-decoration underline
		&:hover
			text-decoration none
.phone
	float right
	&__number
		margin-bottom 8px
		font-pfbld(24px,1)
		color #5c3255
	&__link
		border-bottom 1px dotted #805175
		display inline-block
		float right
		vertical-align top
		font-tahreg(14px,1)
		color #805175
		text-decoration none
		&:hover
			border-bottom 1px dotted transparent

.main-nav
	padding-top 10px
	padding-bottom 0px
	background-color #fd5f77
	&__list
		font-size 0
		clearfix()
	&__item
		margin-right 6.4%
		margin-bottom 10px
		display inline-block
		vertical-align top
		font-pfmed(16px,24px)
		text-transform uppercase
		&:last-child
			float right
			margin-right 0
	&__link
		color $white
		text-decoration none
		&:hover
			text-decoration underline





